#include <os2.h>
#include "sample.h"

RCINCLUDE "contain.rc"


DLGTEMPLATE Sample_Dialog 
{
  DIALOG "Sample Application", Sample_Dialog, 75, 133, 179, 64,
  WS_VISIBLE | FS_DLGBORDER | FS_SCREENALIGN,
  FCF_TITLEBAR | FCF_SYSMENU
  {
    DEFPUSHBUTTON "Ok",               DID_OK,  69,   3,  40,  14
    CTEXT         "DAPIE Sample Application",-1,37, 50, 105,   8, SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    CTEXT         "(C) Copyright IBM Corporation 1996.",-1,17,38,147,8,SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    CTEXT         "All Rights Reserved.", -1,  45,  26,  88,   8, SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
  }
}

MENU Sample_Menu 
{
 SUBMENU "~File", 0xF200
 {
  MENUITEM "E~xit",           IDM_EXIT
 }
 SUBMENU "~Help", 0xF201
 {
  MENUITEM "~Overview",       IDM_HELP_OVERVIEW
  MENUITEM "~Contents",       IDM_HELP_CONTENTS
  MENUITEM "~Keyword search", IDM_HELP_KEYWORD
  MENUITEM SEPARATOR
  MENUITEM "~About...",       IDM_ABOUT
 }
}
