/***********************************************************************/
/*                                                                     */
/* MODULE NAME        SACWC001.RC                                      */
/*                                                                     */
/* DESCRIPTIVE NAME   Sample ECI program                               */
/*                                                                     */
/* Statement:         Licensed Materials - Property of IBM             */
/*                                                                     */
/*                    53G3861,53G3862                                  */
/*                    (c) Copyright IBM Corp. 1988, 1993.              */
/*                                                                     */
/*                    See Copyright Instructions.                      */
/*                                                                     */
/*                    All rights reserved.                             */
/*                                                                     */
/*                    U.S. Government Users Restricted Rights - use,   */
/*                    duplication or disclosure restricted by GSA      */
/*                    ADP Schedule Contract with IBM Corp.             */
/*                                                                     */
/* Status:            Version 2 Release 0                              */
/*                                                                     */
/*  NOTES :-                                                           */
/*    DEPENDENCIES = None                                              */
/*                   None                                              */
/*    RESTRICTIONS = none                                              */
/*    MODULE TYPE  = Module definition file                            */
/*    PROCESSOR    = PS/2 and PC                                       */
/*                                                                     */
/***********************************************************************/
/*                                                                     */
#include "windows.h"
#include "sacwc001.h"

EciTestMenu MENU PRELOAD DISCARDABLE
BEGIN
   POPUP "&Call"
   BEGIN
      MENUITEM "&Call ECI",                     CALL_ECI
   END
   POPUP "&List"
   BEGIN
      MENUITEM "&Clear",  ECI_ITEM_CLEAR
   END
END

